<html>
  <head>
    <script>
    /*global twttr*/
    window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    
    t._e = [];
    t.ready = function(f) {
    t._e.push(f);
    };
    
    return t;
    }(document, "script", "twitter-wjs"));
  </script>
  </head>
  <body>
    <div id="container"></div>
    <a href={{ song_url }}>{{ song_name }}</a>
    <img src={{ song_art }}>
    <blockquote class="twitter-tweet">
      <a href="http://twitter.com/arilennox/status/{{ tweet_id }}" >link</a>
      </blockquote>
  </body>
</html>
